.header {
    background-color: #001D3D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 23px;
    margin: 0 140px;
    margin-bottom: 100px;
    height: 64px;
    border-radius: 16px;
}

.header-logo {
    color: #FFC300;
    font-size: 24px;
    font-weight: 800;
}
.header-itens ul {
    display: flex;
    gap: 16px;
}

.header-itens ul a:hover{
    border-bottom: 2px solid #FFC300;
}