.projeto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  border-radius: 16px;
  background: #003566;
  box-shadow: inset 17px 17px 34px #001429,
            inset -17px -17px 34px #002651;
}

.projeto-header {
  height: 170px;
}

.projeto-header--desc {
  height: 100px;
}
.projeto h3 {
  margin-bottom: 9px;
  font-size: 20px;
}

.projeto p {
  margin-bottom: 32px;
  font-size: 14px;
}

.projeto-img {
  max-width: 300px;
  min-height: 200px;
  max-height: 200px;
}

.projeto-img img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
}

.projeto .badges {
  display: flex;
  align-items: center;
  overflow: auto;
  gap: 10px;
}

.projeto .badges ul li{
  width: 100%;
}
.projeto-button {
  margin-top: 25px;
  display: flex;
  gap: 15px;
  justify-content: space-around;
}

.projeto-button .button {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 8px;
  color: white;
  font-family: Brush Script MT;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 30px;
  background-color: #001D3D;
  -webkit-box-shadow: 1px 1px 5px 0 #000000;
  -moz-box-shadow: 1px 1px 5px 0 #000000;
  box-shadow: 1px 1px 5px 0 #000000;
  transition: 0.3s;
}

.button:hover {
  background: #FFC300;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 8px;
  text-decoration: none;
}
