.projeto {
  width: 90%;
  margin: auto;
}

.projeto-img {
  width: 100%;
}

.projeto-img img {
  border-radius: 32px;
  width: 100%;
}

.projeto-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: -120px;
}

.projeto-buttons a {
  background-color: #003566;
  border-radius: 8px;
  padding: 10px 20px;
}

.projeto-buttons a:active,
.projeto-buttons a:visited {
  background-color: #003566;
  color: white;
}

.projeto-buttons a:hover {
  background-color: #ffc300;
  color: black;
}

.projeto-details {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.projeto-details--title {
  font-size: 42px;
  font-weight: 600;
}

.projeto-details--badges {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 15px;
}

.projeto-details--right {
  max-width: 500px;
}

@media (max-width: 425px) {
  .projeto {
    width: 100%;
    height: 320px;
  }

  .projeto-details {
    display: none;
  }

  .projeto-buttons a {
    font-size: 14px;
    padding: 10px 10px;
    margin-top: 200px;
  }
}

@media (max-width: 810px) {
  .projeto-buttons a {
    font-size: 14px;
    padding: 10px 10px;
    margin-top: 80px;
  }
}
