.portfolio {
  margin-top: 140px;
}

.portfolio-badges{
  padding: 0 140px;
}

.portfolio-header {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 50px; 
  padding: 0 140px;
}

.portfolio-header--filters {
  display: flex;
  gap: 32px;
}

@media (max-width: 768px) {
  .portfolio {
    padding: 20px;
    margin-top: 70px;
  }

  .portfolio-badges{
    padding: 0;
  }

  .portfolio-header {
    padding: 0;
    font-size: 24px;
  }
}

@media (max-width: 425px) {
  .portfolio-badges{
    margin-left: 20px;
  }

  .portfolio-header {
    margin-left: 20px;
  }

  .portfolio {
    padding: 0;
  }
}
