.aboutMe{
    display: flex;
    padding: 0 140px;
    margin-top: 140px;
    gap: 250px;
}

.aboutMe-photo{
    width: 454px;
    height: 454px;
}

.aboutMe-photo img{
    width: 100%;
    border-radius: 50%;
}

.aboutMe-name {
    font-size: 48px;
    font-weight: 800;
    margin: 24px 0;
}