.experience, .experience-years, .experience-jobs {
    display: flex;
}

.experience {
    border-top: 1px solid #001D3D;
    border-bottom: 1px solid #001D3D;
    padding: 100px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 32px;
}

.experience-years {
    gap: 80px;
    justify-content: center;
    text-align: center;
}

.experience-years--border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFC300;
    padding: 40px;
    width: 250px;
    border-radius: 16px;
}

.experience-years--noborder {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #001D3D;
    padding: 40px;
    border-radius: 16px;
}

.experience-jobs {
    padding: 27px 20px;
    justify-content: space-evenly;
    border-radius: 16px;
    gap: 90px;
    background-color: #001D3D;
    width: 900px;
}
.experience-years--main {
    font-size: 32px;
}

.experience-years--secondary {
    font-size: 16px;
}

.experience i {
    color: #FFC300;
}

.experience-jobs div {
    color: #FFD60A;
    text-align: center;
}
.experience-jobs--secondary {
    font-size: 16px;
}

.experience-jobs--main {
    font-size: 32px;
    font-weight: 800;
}

.experience-jobs--one {
    flex: 1;
}

.experience-jobs--two {
    flex: 2;
}

.experience-jobs--three {
    flex: 1;
}