.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 140px;
    justify-content: center;
    gap: 300px;
    margin-bottom: 150px;
}

.about h1{
    font-size: 52px;
    margin-bottom: 16px;
}

.about p {
    font-size: 20px;
}

.about-social {
    margin-top: 44px;
    display: flex;
    gap: 16px;
}

.about-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    text-align: end;
}

.about-links--contact {
    border: 1px solid #FFC300;
    padding: 15px;
    border-radius: 16px;
    width: 200px;
}

.about-links--contact:hover {
    background-color: #FFC300;
    color: black;
}

.about-links a {
    color: #FFD60A;
}

.about-links a:hover {
    background-color: #FFC300;
    color: black;
    padding: 10px;
    border-radius: 16px;
}
.fa-whatsapp{
    color: #FFC300;
}
