.about {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 30px;
    align-items: center;
    padding: 0 140px;
    margin-bottom: 150px;
}

.about h1{
    font-size: 52px;
    margin-bottom: 16px;
}

.about p {
    font-size: 20px;
}

.about-social {
    margin-top: 44px;
    display: flex;
    gap: 16px;
}

.about-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    text-align: end;
}

.about-links--contact {
    border: 1px solid #FFC300;
    padding: 15px;
    border-radius: 16px;
}

.about-links a {
    color: #FFD60A;
}
.fa-whatsapp{
    color: #FFC300;
}
