.techs {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-content: center; */
}

.techs-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.techs-header{
    font-size: 32px;
}
.techs-box-list {
    margin-top: 100px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.techs-box-list--icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}