.techs {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.techs-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.techs-header {
  font-size: 32px;
}
.techs-box-list {
  margin-top: 100px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.techs-box-list--icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

@media (max-width: 768px) {
  .techs {
    margin-top: 50px;
  }
  .techs-box-list--icons {
    gap: 22px;
    width: 100%;
  }
  .techs-box {
    width: 90vw;
  }
  .techs-header h3 {
    margin-top: 14px;
    font-size: 24px;
  }

  .techs-box-list {
    margin-top: 30px;
    margin-bottom: 0;
  }
}
