*{
    box-sizing: border-box;
}
.carrer {
    margin-top: 80px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.carrer-desc {
    margin-top: 24px;
}
.carrer-content {
    margin-top: 64px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 20px;
}

.experiences-type--desc h4 {
    font-size: 32px;
    margin-bottom: 8px;
}

.experiences-type--desc {
    text-align: center;
}

.experiences-box {
    margin: 0 auto;
    margin-top: 65px;
    padding: 30px;
    background-color: #001D3D;
    border-radius: 16px;
    max-width: 580px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.experiences-box:hover {
    background-color: #003566;
    border: 1px solid #FFC300;
}

.experiences-box > p{
    color: #CCC;
    min-height: 110px;
    max-height: 200px;
    display: flex;
    align-items: center;
}

.experiences-box p {
    margin-top: 9px;
    margin-bottom: 5px;
}

.experiences-box--details {
    display: flex;
    justify-content: space-between;
}

.experiences-box--date {
    color: #FFD60A;
}



@media (max-width: 1023px) {

    .carrer {
        padding: 20px;
        margin-top: 45px;
    }
    .carrer-content {
        padding: 0;
        grid-template-columns: 1fr;
        margin-top: 24px;
        overflow: hidden;
    }

    .experience {
        min-width: 100%;
    }
    .experiences-box {
        height: auto;
        min-width: 100%;
        margin-top: 25px;
    }

    .experiences {
        overflow: auto;
        display: flex;
        gap: 14px;
    }
}